.c-floating-layout {
    background-color: orange;
}

.c-floating-layout__item {
    float: left;
    width: 50%;

}
.c-floating-layout__item:nth-child(odd) {
    padding-right: 8px;
}
.c-floating-layout__item:nth-child(even) {
    padding-left: 8px;
}