.c-floating-layout {
}

.c-floating-layout__item {
    @extend .my-3;

    float: left;
    width: 100%;
}

@include media-breakpoint-up(md) {
    .c-floating-layout__item {
        width: 50%;
    }

    .c-floating-layout__item:nth-child(odd) {
        padding-right: 8px;
    }

    .c-floating-layout__item:nth-child(even) {
        padding-left: 8px;
    }
}