.c-follow-us {
    margin-top: 65px;
    margin-bottom: 24px;
    position: relative;
    animation: follow-us-anim 3s cubic-bezier(.04,1.18,.89,.96) 0s infinite normal none;
}

.c-follow-us__title {
    font-size: 3em;
    letter-spacing: 0.175em;
    font-weight: bold;
    text-align: center;
}

@keyframes follow-us-anim {
    0% {
        transform: translateY(0px);
    }

    17% {
        transform: translateY(25px);
    }

    25% {
        transform: translateY(-6px);
    }

    35% {
        transform: translateY(25px);
    }

    45% {
        transform: translateY(0px);
    }

    75% {}

    100% {
        transform: translateY(0px);
    }
}