.c-follow-us {}

.c-follow-us__title {
    font-size: 3em;
    letter-spacing: 0.375em;
    font-weight: bold;
    text-align: center;
}

.c-follow-us__social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.c-follow-us__social-list-item {
    margin: 0;

    &:last-child {
        margin-left: 36px;
    }

    a {
        font-size: 3rem;
        color: $secondary;
    }
}


