.c-follow-us {
    position: relative;
    animation: follow-us-anim 3s cubic-bezier(.04,1.18,.89,.96) 0s infinite normal none;
}

.c-follow-us__title {
    font-size: 3em;
    letter-spacing: 0.175em;
    font-weight: bold;
    text-align: center;
}

.c-follow-us__social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.c-follow-us__social-list-item {
    margin: 0;

    &:last-child {
        margin-left: 36px;
    }

    a {
        font-size: 3rem;
        color: $secondary;
    }
}

@keyframes follow-us-anim {
    0% {
        transform: translateY(0px);
    }

    17% {
        transform: translateY(25px);
    }

    25% {
        transform: translateY(-6px);
    }

    35% {
        transform: translateY(25px);
    }

    45% {
        transform: translateY(0px);
    }

    75% {}

    100% {
        transform: translateY(0px);
    }
}