.c-lineup-stage {
}

.c-lineup-stage__title {
  @extend .fs-1;
  color: rgba(0, 0, 0, 0.61);
  text-transform: uppercase;
}
.c-lineup-stage__list {
  @extend .mt-3;
}

@include media-breakpoint-up(md) {
  .c-lineup-stage__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
  }
}
