.c-navbar {
    @extend .p-3;
    z-index: $z-index-navbar;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// .c-navbar__title {
//     @extend .m-0, .text-white;
//     text-transform: uppercase;
// }

.c-navbar__menu-toggle {
    @extend .btn, .btn-lg;
    color: white;

    i {
        font-size: 2em;
    }
}

.c-navbar__logo {}

.c-navbar__menu {
    flex-shrink: 1;
    display: none;
    // visibility: hidden;
}

.c-navbar__menu-list {
    @extend .p-2, .m-0, .p-0;
    list-style: none;
}

.c-navbar__menu-list-item {
    @extend .ms-3;
}

.c-navbar__link {
    @extend .fs-4;
    text-transform: uppercase;
}

@include media-breakpoint-up(md) {
    .c-navbar {
        justify-content: space-between;
    }

    .c-navbar__menu {
        display: block;
    }

    .c-navbar__menu-toggle {
        display: none;
    }

    .c-navbar__menu-list {
        display: flex;
    }

}