.c-navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: $z-index-navbar;
    background-color: rgba($color: #000000, $alpha: 0.6);
    padding: 0.5rem;
    transition: background-color 0.25s ease-in;
}

.c-navbar--sticky {
    @extend .bg-dark;
    position: fixed;
    top: 0;
    left: 0
}
// .c-navbar__title {
//     @extend .m-0, .text-white;
//     text-transform: uppercase;
// }

.c-navbar__menu-toggle {
    @extend .btn, .btn-lg;
    color: white;

    i {
        font-size: 2em;
    }
}

.c-navbar__logo {
    display: none;
}

.c-navbar__menu {
    flex-shrink: 1;
    display: none;
    // visibility: hidden;
}

.c-navbar__menu-list {
    @extend .p-2, .m-0, .p-0;
    list-style: none;
}

.c-navbar__menu-list-item {
    @extend .ms-3;

    .c-link {
        @extend .fs-4;
        text-transform: uppercase;
    }
}

@include media-breakpoint-up(md) {
    .c-navbar {
        justify-content: space-between;
        padding: 1rem 1.5rem;        
    }

    .c-navbar__logo {
        display: block;
    }

    .c-navbar__menu {
        display: block;
    }

    .c-navbar__menu-toggle {
        display: none;
    }

    .c-navbar__menu-list {
        display: flex;
    }

}