.c-news-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    position: relative;
    transition: all 0.35s ease-in-out;
    max-height: 200px;
    text-decoration: none;
    overflow: hidden;
    color: black;

    &:hover {
        border-left: 4px solid rgba($color: $secondary, $alpha: 0.8);
        padding-left: 16px;
    }
}

.c-news-item__text-container {}

.c-news-item__title {
    @extend .mb-1;
}

.c-news-item__datetime {
    text-decoration: none;
}

.c-news-item__text {
    display: none;
}

.c-news-item__thumbnail {
    margin-top: 0.5rem;

    img {
        // width: 100%;
        max-height: 350px;
        object-fit: contain;
    }
}

@include media-breakpoint-up(md) {
    .c-news-item {
        flex-direction: row;
        max-height: 350px;
    }

    .c-news-item__text-container {
        margin-left: 32px;
        order: 2;
        height: 100%;
    }

    .c-news-item__text {
        display: block;
        margin-top: 24px;
        font-size: 1.25em;
        overflow: hidden;
        
        &>p {
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 8px;
        }
    }

    .c-news-item__thumbnail {
        margin-top: 0;
        order: 1;

        img {
            max-height: 350px;
        }
    }
}