.c-page {
  position: relative;
}

.c-page--no-scroll {
  height: 100vh;
  overflow: hidden;
}

.c-page__title {
  @extend .mt-5;
  text-transform: uppercase;
  font-size: 2.7em;
  letter-spacing: 0.125em;
  font-weight: bold;
}

@include media-breakpoint-up(md) {
  .c-page__title {
    font-size: 3em;
  }
}
