.c-photo-album {
  display: flex;
  flex-wrap: wrap;
}
.c-photo-album__img-container {
    padding-bottom: 25px;
  img {
    width: 100%;
  }
}

@include media-breakpoint-up(md) {
  .c-photo-album__img-container {
    flex-basis: 33%;
    padding: 10px;

    img {
      width: 100%;
    }
  }
}
