.c-shopping-cart {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: $z-index-shopping-cart;
  background-color: white;
}
.c-shopping-cart.c-shopping-cart--collapsed {
  transform: translateY(100%);
}

.c-shopping-cart--header {
  display: flex;
  justify-content: end;
  padding: calc($spacer/2);

  background-color: $primary;
  color: white;
}

.c-shopping-cart--list {
}

.c-shopping-cart--checkout-btn {
  @extend .text-center, .mt-2;
  background-color: $primary;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  button {
    height: 100%;
    font-size: $font-size-lg;
  }
}

// Toggle button
.c-shopping-cart--close {
  @extend .btn, .btn-lg;
  color: white;

  i {
    font-size: 2em;
  }
}

@include media-breakpoint-up(md) {
  .c-shopping-cart {
    max-width: 425px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: unset;
    left: unset;
    background-color: #192b1f;
    color: white;
  }
  .c-shopping-cart.c-shopping-cart--collapsed {
    transform: translateX(100%);
  }

  .c-shopping-cart--container {
    display: block;
    padding: $spacer;
  }

  .c-shopping-cart--header {
    padding: 0;
  }
  .c-shopping-cart--checkout-btn {
    position: unset;
    background-color: transparent;
    button {
    }
  }
}
