.c-shopping-cart {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: $z-index-shopping-cart;
  background-color: $danger;
}

.c-shopping-cart--container {
  display: none;
}

:not(.c-shopping-cart--collapsed) > .c-shopping-cart--container {
  display: unset;
}

.c-shopping-cart.c-shopping-cart--collapsed {
  position: fixed;
  top: unset;
  bottom: 50px;
  right: 50px;
  left: unset;
}

.c-shopping-cart--header {
  display: flex;
  justify-content: end;
  @extend .p-2;
}

.c-shopping-cart--list {
}

.c-shopping-cart--checkout-btn {
  @extend .text-center, .mt-2, .rounded-0, .bg-primary;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  button {
    @extend .fs-3, .py-3;
  }
}

// Toggle button
.c-shopping-cart--close {
  @extend .btn, .btn-lg;
  color: white;

  i {
    font-size: 2em;
  }
}

.c-shopping-cart--toggle button {
  height: 65px;
  width: 65px;
}

.c-shopping-cart--toggle {
  position: relative;
  display: none;
}
.c-shopping-cart--toggle-counter-bg {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 7px;
  right: 7px;
  max-width: 20px;
}
.c-shopping-cart--toggle-counter {
  line-height: 20px;

  font-size: 12px;

  // max-width: 100%;
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow ellipsis;
}

.c-shopping-cart--collapsed {
  .c-shopping-cart--toggle {
    display: unset;
  }
}

@include media-breakpoint-up(md) {
  .c-shopping-cart {
    max-width: 425px;
    position: absolute;
    right: 0;
    top: 0;
  }
}
