.c-shopping-cart {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: $z-index-shopping-cart;
  background-color: white;
}

.c-shopping-cart--container {
  display: none;
}

:not(.c-shopping-cart--collapsed) > .c-shopping-cart--container {
  display: unset;
}

.c-shopping-cart.c-shopping-cart--collapsed {
  position: fixed;
  top: unset;
  bottom: 50px;
  right: 50px;
  left: unset;
}

.c-shopping-cart--header {
  display: flex;
  justify-content: end;
  @extend .p-2;
  background-color: $primary;
  color: white;
}

.c-shopping-cart--list {
}

.c-shopping-cart--checkout-btn {
  @extend .text-center, .mt-2;
  background-color: $primary;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  button {
    font-size: $font-size-lg;
  }
}

// Toggle button
.c-shopping-cart--close {
  @extend .btn, .btn-lg;
  color: white;

  i {
    font-size: 2em;
  }
}


@include media-breakpoint-up(md) {
  .c-shopping-cart {
    max-width: 425px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: unset;
    left: unset;
    background-color: #192b1f;
  }

  .c-shopping-cart--container {
    display: block;
  }

  .c-shopping-cart--header {
  }
  .c-shopping-cart--checkout-btn {
    position: unset;
    background-color: transparent;
    button {
    }
  }
}
