.c-when-section__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  --seperator-thickness: 2px;

  border-top: var(--seperator-thickness) solid rgba(0, 0, 0, 0.4);
  border-bottom: var(--seperator-thickness) solid rgba(0, 0, 0, 0.4);
}

.c-when-section__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.c-when-section__text {
  padding: 16px;
  border-radius: 16px;
  font-weight: 900;
  font-size: 66px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 15px;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  animation: translateX 120s linear 0s infinite alternate none,
    colorPulse 2s ease-out 0s infinite alternate none;
}

@media (min-width: 898px) {
  .c-when-section__wrapper {
    --seperator-thickness: 4px;
  }
  .c-when-section__text {
    font-size: 124px;
    background-size: contain;
  }
}

@keyframes colorPulse {
  0% {
    color: rgba(0, 0, 0, 0.58);
  }
  100% {
    color: rgba(0, 0, 0, 0);
  }
}
@keyframes translateX {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 1000%;
  }
}
